body{
    background-color:lightgray;
}
h1{
    color:darkblue;
    text-align:center;
    background-color:rgba(99, 110, 234, 0.5);
    display:inline-block;
}
p{
    color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.note{
    color:orange;
}
#intro{
    color:blueviolet;
}
h2{
    color:black;
    background-color:rgba(230, 115, 174, 0.5);
    display:inline-block;
}